.submit:hover {
    background-color: rgb(15, 94, 204);
}
.submit:focus {
    border-color: aqua;
}
.ok {
    display:block;
}
.reset:hover {
    background-color: rgb(204, 15, 94);
    border-color: red;
}