h1 {
    color:#d60fda;
    text-align:center;
}
.a1 {
    font-size:60px;

}
.a3 {
    font-weight:100px;
}
.bp .a4 {
    background-color: lightgreen;
    
}
.bp .a5{
    background-image: url(caw.jpeg);
    width:590px;
    height:590px;
    display:block;
    font-size:100px;
}
.ook{ 
    width:100px;
    font-weight:20;
    height:100px;
}
.a2 {
    overflow:hidden;
}
.pmb {
    width:200px;
    height:200px;
    background-color:lightblue;
    padding:30px 50px;
    margin-top:30px;
    border:2px solid rgb(200, 117, 255);
    border-radius: 3px;
}
