@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:18px;
}
a{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px;
}


