.static{
    position:static;
    background-color: rgb(130, 214, 3);
    color: rgb(40, 0, 105);
    border-color:black;
    display:inline;
    top:100px
}
.relative {
    position:relative;
    top: 1000px;
    left:100px;
    background-color: blue;
    border-color:black;
    display:inline;
    color:tomato;
}
.absolute{
    position:absolute;
    bottom: 100px;
    right: 100px;
    background-color: rgb(77, 232, 29);
    border-color:black;
    display:block;
    color:rgb(174, 9, 161);

}
.fixed{
    position:fixed;
    bottom:500px;
    right:75px;
    background-color: rgb(71, 3, 166);
    display:inline;
    color:white
}
.sticky{
    position:sticky;
    top:50px;
    background-color: rgb(85, 0, 255);
    display:inline;
    color:rgb(255, 169, 65);
    border-color: black;
}