.block {
    display:block;
    background-color: rgb(153, 36, 207);
    border-color: aqua;
    color:rgb(22, 227, 169)
}
.inline {
    display:inline;
    background-color: rgb(255, 105, 180);
    border-color: yellow;
    color:rgb(18, 117, 247)
}
.flex {
    display:flex;
    background-color: rgb(255, 165, 0);
    border-color: lime;
    color:rgb(75, 0, 130)
}
.flex2 {
    display:flex;
    background-color: rgb(0, 255, 127);
    border-color: fuchsia;
    color:rgb(255, 20, 147);
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    
}
.flex3{
    display:flex;
    background-color: rgb(255, 20, 147);
    border-color: olive;
    color:rgb(0, 191, 255);
    justify-content: space-between;
}
.flex4{
    display:flex;
    background-color: rgb(0, 191, 255);
    border-color:rgb(22, 227, 169); 
    color:seagreen;
    align-items: center; 
    height: 200px; 
}
.flex5 {
    display:flex;
    background-color: rgb(75, 0, 130);
    border-color: rgb(22, 255, 228);   
    color:bisque;
    align-content: space-around;
    height:100px;
}
.flex6 {
    display:flex;
    background-color: rgb(18, 117, 247);
    border-color: rgb(255, 105, 180);   
    color:coral;
    gap: 20px;
}
.flex7 {
    display:flex;
    background-color: rgb(22, 227, 169);
    border-color: rgb(153, 36, 207);   
    color:indigo;
    flex-grow:200;

}
.flex8 {
    display:flex;
    background-color: rgb(245, 4, 133);   
    border-color: rgb(0, 255, 127);
    color:gold;
    flex-shrink: 100;
}
.flex9 {
    display:flex;
    background-color: rgb(0, 255, 127);   
    border-color: rgb(255, 165, 0);
    color:mediumslateblue;
    flex-basis: 100;
}
.flex10 {
    display:flex;
    background-color: rgb(255, 165, 0);   
    border-color: rgb(153, 36, 207);    
    color:rgb(16, 170, 247);
    flex:flex;

}